<style> @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
 </style>ss

html body{
  width: 1920px;
  margin: 0;
  padding: 0;
}
.container{
  font-family: 'Roboto';
font-style: normal;
  max-width: 1110px;
  margin: 0 auto;
}
.bg-grey{
  background-color:#EEEFF1;
   
}

.header{
  font-family: 'Roboto';
font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #34547A;
  letter-spacing: 0.1em;
  text-transform: uppercase;
   padding: 80px 0 0;
}
ul{
 margin: 0;
 padding: 0;

}
.nav{
  display: inline-block;
  padding-right: 42px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;

}

.li-1{
  color: #34547A;
  padding-right: 42px;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}
.mx-w{
  max-width: 540px;
}
.mb-65{
  margin-bottom: 65px;
}
h1{
 margin-top: 151px;
 margin-bottom: 60px;
}

.reg-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.btn{
  padding: 20px 40px;
  margin-bottom: 140px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: #34547A;
}
.about{
  width: 540px;
height: 147px;
margin: 0 auto;
margin-top: 112px;
margin-bottom: 100px;
}
.hh2{
  font-weight: 500;
font-size: 32px;
line-height: 38px;
text-align: center;


color: #000000;
}
.pp2 {
 padding-top: 50px;
 font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #727272;
}






.num{
  display: flex;
}

.number{
 background-color: #34547A;
}
.p-100{
  padding: 100px 0;
}

.project-item{
  display: inline-block;
  width: 140px;
  height: 50px;
  padding-right: 45px;
  /* padding:initial; */
  
}
.inline-item{
  display: inline-block;
  color: white;
  
}
.pro{
  padding-top: 10px;
}
.hov {
  color: #000000;

width: 403px;
height: 30px;
left: 758px;
top: 1409px;
text-align: center;

}
.hovo{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;

color: #727272;
}
.kp{
  position: absolute;
  background-image: ;
  color: #FFFFFF;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(photo-1514070706115-47c142769603.jpg);
  

}
.vid{
  margin-bottom: 100px;
  
}
.footer{
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.foo1{
  font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
padding-bottom: 20px;
}
.foo2{
  font-weight: 400;
font-size: 13px;
line-height: 21px;
color: #FFFFFF;
}