.header {
  position: absolute;
  width: 1920px;
  height: 700px;
  left: 0px;
  top: 0px;
  background-color: #eeeff1;
}
.menu {
  display: flex;
  align-items: flex-start;
  margin-top: 79px;
  margin-left: 399px;
  margin-right: 875px;
  list-style-type: none;
  position: relative;
}
.li {
  display: inline;
}
